<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Tipsy Tram Tour</title>

    <meta name="description" content="Intoxicated journey along the line of Tram 1 in Debrecen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Codystar|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <section class="has-parallax-bg">
        <section class="hero is-fullheight transparent-bg has-white-text">
            <div class="hero-head">
                <header class="navbar written-with-leds">
                    <div class="container">
                        <div class="navbar-brand">
                            <h1 class="is-size-2 is-capitalized has-tram-yellow-text">Tipsy Tram Tour</h1>
                        </div>
                        <div class="navbar-menu">
                            <div class="navbar-end">
                                <a class="navbar-item is-size-4 has-tram-yellow-text" href="#places">
                                    Places
                                </a>
                                <a class="navbar-item is-size-4 has-tram-yellow-text">
                                    Route
                                </a>
                                <a class="navbar-item is-size-4 has-tram-yellow-text">
                                    Contact
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title is-size-1 written-with-leds has-white-text">
                        A journey to forget, but an experience to remember.
                    </h1>
                </div>
            </div>
        </section>

        <section id="places" class="section is-marginless dark-bg">
            <div class="container">
                <h1 class="title is-size-1 written-with-leds has-tram-yellow-text">Places</h1>
                <h2 class="subtitle is-size-2 written-with-leds has-tram-yellow-text">Only to drink at</h2>
            </div>
        </section>

        <section class="section is-marginless dark-bg">
            <div class="container">
                <h2 class="subtitle is-size-2 written-with-leds has-tram-yellow-text">Prices</h2>
                <nav class="level prices-level">
                    <div class="level-item has-text-centered">
                        <div>
                            <img src="assets/img/beer.svg" alt="Picture">
                            <p class="is-size-3 written-with-leds has-white-text">Low</p>
                        </div> 
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <img src="assets/img/wine.svg" alt="Picture">
                            <p class="is-size-3 written-with-leds has-white-text">Medium</p>
                        </div> 
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <img src="assets/img/cocktail.svg" alt="Picture">
                            <p class="is-size-3 written-with-leds has-white-text">High</p>
                        </div> 
                    </div>
                </nav>
            </div>
        </section>

        <section class="section is-marginless dark-bg">
            <div id="publine" class="container">
                {{#each pubs}}
                    {{> partials/publine-entry}}
                {{/each}}
            </div>
        </section> <!-- cd-timeline -->
    </section>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2NhCzeH_UGHFV-_fpephjq_Ep2ARAFOA&libraries=places"></script>
    <script src="assets/bundle.js"></script>
</body>

</html>