<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Tipsy Tram Tour</title>

    <meta name="description" content="Intoxicated journey along the line of Tram 1 in Debrecen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Codystar|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <section class="has-parallax-bg">
        {{> partials/cover}}

        {{> partials/places}}

        {{> partials/route}}
    </section>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2NhCzeH_UGHFV-_fpephjq_Ep2ARAFOA&libraries=places"></script>
    <script src="assets/bundle.js"></script>
</body>

</html>