<section class="hero is-fullheight transparent-bg has-white-text">
    <div class="hero-head">
        <header class="navbar written-with-leds">
            <div class="container">
                <div class="navbar-brand">
                    <h1 class="is-size-2 is-capitalized has-tram-yellow-text">Tipsy Tram Tour</h1>
                </div>
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-size-4 has-tram-yellow-text" href="#places">
                            Places
                        </a>
                        <a class="navbar-item is-size-4 has-tram-yellow-text" href="#route">
                            Route
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-size-1 written-with-leds has-white-text">
                A journey to forget, but an experience to remember.
            </h1>
        </div>
    </div>
</section>