<div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
        <img src="assets/img/{{resolvePriceRange priceRange}}.svg" alt="Picture">
    </div>

    <div class="cd-timeline-content">
        <h2>{{name}}</h2>
        <p>{{summary}}</p>
        <a href="#0" class="cd-read-more">Read more</a>
        <span class="cd-date">Jan 14</span>
    </div>
</div>
