<section id="route" class="hero is-fullheight is-marginless is-paddingles dark-bg has-white-text">
    <section class="section map-overlay">
        <div>
            <h1 class="title is-size-1 written-with-leds has-tram-yellow-text">Route</h1>
            <h2 class="subtitle is-size-2 written-with-leds has-tram-yellow-text">Beers per place</h2>
            <div class="beer-counter">
                <div>
                    <img class="beer-counter-decrease" src="assets/img/minus.svg" Alt="Decrease"/>
                </div>
                <div>
                    <img class="beer-counter-beer" src="assets/img/counter-beer.svg" Alt="Beer"/>
                </div>
                <div>
                    <img class="beer-counter-increase" src="assets/img/plus.svg" Alt="Increase"/>
                </div>
            </div>
        </div>
    </section>
    <div class="hero-body is-paddingless pubmap-container">
        <div class="pubmap"></div>
    </div>
</section>
