.has-parallax-bg {
    background: url("/assets/img/main-background.jpg") center center;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.has-main-bg {
    background: url("/assets/img/main-background.jpg") center center;
    background-size: cover; 
}

.has-white-text {
    color: white;
}

.has-tram-yellow-text {
    color: #FEF100;
}

.navbar {
    font-family: 'Codystar', cursive;
    text-shadow: 0px 3px 5px rgba(247, 255, 0, 0.70);
}

.written-with-leds {
    font-family: 'Codystar', cursive;
    text-shadow: 0px 3px 5px rgba(247, 255, 0, 0.70);
}

.prices-level img {
    width: 4rem;
}

#publine {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.transparent-bg {
    background: transparent;
}

.dark-bg {
    background: rgba(0, 0, 0, 0.65);
}

.pub-properties {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.pub-properties li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.pub-properties img {
    width: 2.5rem;
    padding-right: 0.5rem;
}

.pubmap-container {
  padding-left: 0;
  padding-right: 0;
  align-items: stretch !important;
}

.map-overlay {
  z-index: 30;
  position: absolute;
}

.pubmap {
  width: 100%;
  height: inherit;
}

#publine::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: white;
}
@media only screen and (min-width: 1170px) {
  #publine {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #publine::before {
    left: 50%;
    margin-left: -2px;
  }
}

.publine-block {
  position: relative;
  margin: 2em 0;
}
.publine-block:after {
  content: "";
  display: table;
  clear: both;
}
.publine-block:first-child {
  margin-top: 0;
}
.publine-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .publine-block {
    margin: 4em 0;
  }
  .publine-block:first-child {
    margin-top: 0;
  }
  .publine-block:last-child {
    margin-bottom: 0;
  }
}

.publine-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.publine-img img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  margin-left: 0;
  margin-top: 0;
}
.publine-img.cd-picture {
  background: #75ce66;
}
.publine-img.cd-movie {
  background: #c03b44;
}
.publine-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .publine-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .publine-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .publine-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.publine-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0px 3px 5px rgba(247, 255, 0, 0.70);
}
.publine-content:after {
  content: "";
  display: table;
  clear: both;
}
.publine-content h2 {
  color: #303e49;
}
.publine-content p, .publine-content .cd-read-more, .publine-content .pub-distance {
  font-size: 13px;
  font-size: 0.8125rem;
}
.publine-content .cd-read-more, .publine-content .pub-distance {
  display: inline-block;
}
.publine-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.publine-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .publine-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.publine-content .pub-distance {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.publine-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .publine-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .publine-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .publine-content .cd-read-more, .publine-content .pub-distance {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .publine-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .publine-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .publine-content .cd-read-more {
    float: left;
  }
  .publine-content .pub-distance {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .publine-block:nth-child(even) .publine-content {
    float: right;
  }
  .publine-block:nth-child(even) .publine-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .publine-block:nth-child(even) .publine-content .cd-read-more {
    float: right;
  }
  .publine-block:nth-child(even) .publine-content .pub-distance {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .publine-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .publine-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .publine-block:nth-child(even) .publine-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
